* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.main-wrapper {
  max-width: 1350px;
  margin: auto;
  padding-bottom: 32px;
}

.poke-cards-section {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.score-section {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;

  padding: 6px 16px;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #adadad;
  width: fit-content;
  margin: auto;
  margin-top: 16px;
}

.difficulty-section {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 16px;
}

.start-screen {
  width: fit-content;
  margin: 320px auto 0;
  padding: 32px;

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.66);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
}

.start-screen p {
  margin-top: 8px;
}

.start-screen img {
  display: block;
  margin: 0 auto 16px;
  transform: translateY(-10%);
  animation: float 1.5s infinite;
  transition: ease 0.5s;
}

@keyframes float {
  0%{transform: translateY(-10%);transition: ease 0.5s;}
  50%{transform: translateY(10%);transition: ease 0.5s;}
}


.animated-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

button {
  padding: 6px 16px;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #adadad;
  cursor: pointer;
}